.DS_Store
*.Mach-O
*.elf
**/CMakeFiles
AbstractionLayerTesting/.ninja_deps
AbstractionLayerTesting/.ninja_log
AbstractionLayerTesting/CMakeCache.txt
AbstractionLayerTesting/CMakeFiles/
AbstractionLayerTesting/CTestTestfile.cmake
AbstractionLayerTesting/DartConfiguration.tcl
AbstractionLayerTesting/Example/CMakeFiles/
AbstractionLayerTesting/Example/CTestTestfile.cmake
AbstractionLayerTesting/Example/ExampleTest
AbstractionLayerTesting/Example/cmake_install.cmake
AbstractionLayerTesting/OperatingSystem/CMakeFiles/
AbstractionLayerTesting/OperatingSystem/CTestTestfile.cmake
AbstractionLayerTesting/OperatingSystem/cmake_install.cmake
AbstractionLayerTesting/Testing/
AbstractionLayerTesting/build.ninja
AbstractionLayerTesting/cmake_install.cmake
